// Option B: Include parts of Bootstrap
// Required
@import "functions";
@import "variables";
@import "mixins";

// Include custom variable default overrides here

// Optional
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";

@import "components/back2top";
@import "components/header";
@import "components/hero";
@import "components/masonry";

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 1em 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  padding: 3em;
}

.imageGrid img {
  max-width: 200px;
}

#header {
  background-color: #761800;
}

.tint {
  background-color: #d5d5d5;
}
