<div>
  <pageHeader />
  <div id="navPadder" class="bg-black"></div>

  <triangleWrapper />
  
  <section class="section pagetitle">
    <div class="container">
      <div class="h1-wrapper">
        <div class="line"></div>
        <h1>{{data.title}}</h1>
        <div class="line"></div>
      </div>

      <h2 v-if="data.subtitle" class="subtitle">{{data.subtitle}}</h2>
    </div>
  </section>

  <component :is="i.component" :data="i" class="pagesection"
        v-for="(i, idx) in components" :key="idx" />

  <triangleWrapper class="lastsection" />
  <pageFooter />

</div>