// pokus
.card-content {
    background-color: transparent;
    text-align: center;

}
.card-content h2{
  color: #510000;
 
}

.card
{color: #1C0808}



.title {
    font-size: 1.4rem;
}



