// 1. Import the initial variabless
@import "bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// $tablet: 640px;

$cream: #FCF8EC;
$orange: #FCB409;
$red: #E30A15;
$black: #1C0808;
$brown: #510000;

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

// 3. Set the derived variables
$primary: $orange;
$link: $red;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;

// $font-family-sans-serif:      'Alegreya Sans', sans-serif;
// $font-family-monospace:       'Alegreya', serif, monospace;
// $font-family-base:            $font-family-sans-serif;

$footer-color: $white;
$footer-background-color: $black;
// $footer-padding: 6em;

$navbar-background-color: $black;
$navbar-item-color: white;
// $navbar-item-hover-color: $orange;
$navbar-item-hover-background-color: $orange;
$navbar-item-active-color: $red;
$navbar-burger-color: white;
// $navbar-z: default;
// $navbar-dropdown-z: 3000;
// $navbar-height: 4.5rem;
$navbar-dropdown-background-color: $black;

// Update the sans-serif font family
$defaultFont: 'Alegreya Sans';
$family-primary: $defaultFont, $family-sans-serif;

$content-heading-color: inherit;

#navPadder {
  padding-top: 4em;
}

// // 4. Import the rest of Bulma
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";

/*--------------------------------------------------------------
# text Color classes
--------------------------------------------------------------*/
.text-cream {color: #FCF8EC;}
.text-orange {color: #FCB409;}
.text-red {color: #E30A15}
.text-black {color: #1C0808}
.text-brown {color: #510000}

// and backgrounds
.bg-cream {background-color: #FCF8EC;}
.bg-black {background-color: #1C0808}
.bg-red {background-color: #E30A15}
.bg-yellow {background-color: #FCB409;}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  font-size: 18px;
  line-height: 1.3em;
  color: #1C0808
}


h1 {
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.1em;
 
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  }
h2 {
  font-family:  'Alegreya Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.02em;
 
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.8em;
  }
h3{
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 1em;
} 
h4{
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;

}

p{
  font-size: 18px;
}

.text-center {
  text-align: center;
}
/*--------------------------------------------------------------
# nav links

--------------------------------------------------------------*/
a {
    color: #E30A15;}
a:hover {
    color:#7f0202;
    text-decoration: underline;
   }

a:-webkit-any-link {
    cursor: pointer;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link
{
  color: #510000;
  background-color: #FCB409;
}

.nav-pills .active a.nav-link:hover 
{color: #FCF8EC;}


.nav-pills a.nav-link {
  color: #510000
}
.nav-pills a.nav-link:hover {
    color: #E30A15;
  }

.btn-primary {
    color: #1C0808;
    background-color: #FCB409;
    border-color: #FCB409;
  }
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.form-check .form-check-input
{
  background-color: #E30A15 !important;
}
/*--------------------------------------------------------------
# Spacing
--------------------------------------------------------------*/
.py-5 {
  padding: 5rem, 0;
}

.py-7 {
  padding: 7em 0;
}

.py-9 {
  padding: 9em 0;
}

.pb-7 {
  padding-bottom: 7em;
}
.pt-7 {
  padding-top: 7em;
}

/*--------------------------------------------------------------
# Header nav
--------------------------------------------------------------*/
// #header {
//   background-color: #1C0808;
//   padding: 1em;
// }
// #header .logo h1 a, .logo a{
//   color:#FCB409;
// }
// #header .logo h1 a:hover, .logo a:hover{
//   color:#E30A15;
// }
// a.nav-link {
//   color:#FCF8EC;
// }
// a.nav-link:hover {
//   color:#FCB409;
// }
// .header-social-links a {
//   color: #FCB409;
//  }
// .header-social-links a:hover {
//   color: #FCF8EC;
//  }
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.deco-kalich-red {
  padding-top: 1.8em;
  background-image: url('/cdn/246/kalich-red.svg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 1em;
}
.deco-kalich-black {
  padding-top: 1.8em;
  background-image: url('/cdn/245/kalich-black.svg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 1em;
}
.deco-kalich-white {
  padding-top: 1.8em;
  background-image: url('/cdn/247/kalich-white.svg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 1em;
}

a.section-link {
  display: inline-block;
  background-image: url('/cdn/244/arrow-link.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 4em;
  padding-right: 5em;
}

a {
    
    text-decoration: none;
    background-color: transparent;
}

.h1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0 0;}
  
.h1-wrapper h1{
  padding: 0 0.5em;
 
}
.line {
  border-top: 2px solid #1C0808;
  width: 2em;
}
/*--------------------------------------------------------------
# COMPONENTS

  C A R D S
--------------------------------------------------------------*/

.card {
  background-color: #FCF8EC; 
  border: none; 
}
.columns .card { height: 100%; }

h3.card-title {
  color: #E30A15;
  padding: 0;
  margin: 0;
}


.tonejzprogramu h3.card-title 
{
  color: #510000;
  padding: 0 0 0.5rem 0;
  margin: 0;
}

p.funkce {
font-family: Alegreya Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.2em;
text-align: center;
padding: 1em 0 0 0;
color: #510000;
}

p.card-text{
font-family: Alegreya Sans;
font-style: normal;
font-weight:600;
font-size: 18px;
line-height: 25px;
text-align: center;
}
.card-program p.card-text, .tonejzprogramu p.card-text{
font-family: Alegreya Sans;
font-style: normal;
font-weight:400;
font-size: 18px;
line-height: 25px;
text-align: left;
}
.card-link + .card-link {
    margin-left: 0rem;
}

/*--------------------------------------------------------------

--------------------------------------------------------------*/

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #FCF8EC;
    background-color: #510000;
    border-color: #510000;}
.btn-outline-primary {
    color: #510000;
    border-color: #510000;
}

.btn-outline-primary:hover {
  background-color: #FCB409; 
  border-color: #FCB409; 
  color: #FCF8EC;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-link {
    font-weight: 400;
    color: #510000;
    text-decoration: none;
}
.btn-link:hover {
    font-weight: 400;
    color: #E30A15;
    text-decoration: none;
}

.imageGrid img {
  max-width: 180px;
}


.tint {
  background-color: #d5d5d5;
}

.lastsection {
  margin-top: 4em;
}

.sitemaplist {
  margin-left: 2em;
}

.sitemaplist li {
 list-style: square;
}

a:hover .button.is-link {  text-decoration: none !important;}

// COMPONENT IMPORTS
@import "components/back2top";
@import "components/header";
@import "components/hero";
@import "components/masonry";
@import "components/triangleWrapper";
@import "components/accordion";
@import "components/program";
@import "components/cards";
@import "components/footer";
