.card-program .card-header {
  color: $red;
}

.nav-pills-link + .card-link {
  margin-left: 0rem !important; 
}
.card-program .card {
background-color: #FCF8EC;
}
.fa, .fas, .far {
  padding-right: 0.5em;
}
.fa-heart {
padding-right: 0;
font-size: 0.8em;
}
