<div>

  <div class="container">

    <i v-if="loading" class="fas fa-spinner fa-spin"></i>
    <section v-else class="section">
    
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><router-link to="/"><i class="fas fa-home"></i></router-link></li>
          <li><router-link to="/posts">Archiv</router-link></li>
        </ul>
      </nav>
      
      <h1 class="title">{{item.title}}</h1>

      <h4 class="subtitle is-6">{{item.published | date }}</h4>

      <img v-if="item.obrazek" :src="item.obrazek" />

      <div class="content">
        <markdown :text="item.content" />
      </div>

    </section>

    <section v-for="(i, idx) in config.children" :key="idx" class="section">

      <component :is="i.component" :data="i" />

    </section>

  </div>

</div>
